<form class="form-inline my-2 my-lg-0" action='/sun_and_moon'>
  <input type="text" id="location" name="location" placeholder="City, State">
  <button class="btn btn-dark my-2 my-sm-0" type="submit">Enter</button>
</form>
