<section class='api-text'>
  <h2>Favorites</h2>
  <br></br>
  <% if current_user.favorites.empty? %>
    You have not favorited any items.
  <% else %>
    <% current_user.favorites.each do |favorite| %>
      <h3><%= link_to favorite.name, "/favorites/#{favorite.id}" %></h3>
      <p><%= button_to "Remove from Favorites", "/favorites/#{favorite.id}", method: :delete %></p>
      <br></br>
    <% end %>
  <% end %>
</section>
