<div class='container-fluid'>
  <center class="welcome">
  <p>Welcome to</p> 
    <p><span class="app-name">Stellar!</span></p>
  </p>The final frontier is at your fingertips.</p>
  </center>
</div>

<nav class="navbar fixed-bottom navbar-light" style="background-color: rgba(0,0,0,0);">
   <!-- <div class='row'> -->
      
      <div class='col' style='margin-left: -16px;'>
        <img class="navbar-brand" src="<%= asset_path 'left-side-tree.png' %>"  alt="Stellar" id='left-pine-tree'>
      </div>

      <div class='col' style='height: 533px;'>
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: rgba(50, 50, 50, 0.6); margin-left: -20px; margin-right: -15px;">
          <span style="color: white; text-align: center;" id="IOD-Text">NASA Image of the Day</span>
        </nav>
        <section id="iod">
          <img src="https://apod.nasa.gov/apod/image/2004/MoonSpringDai_1980crop.jpg">
        </section>
      </div>

      <div class='col' style='margin-right: -16px'>
        <img class="form-inline" src="<%= asset_path 'right-side-tree.png' %>"  alt="Stellar" id='right-pine-tree'>
      </div>

   <!-- </div> -->
</nav>

<nav class="navbar fixed-bottom navbar-light" style="background-color: rgb(0,0,0);">
</nav>

