.welcome {
  color: white;
  font-size: xx-large;
  font: outline;
}

.app-name {
  font-weight: 900;
  color: rgb(66, 43, 37);
  font-size: 50px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


.navbar navbar-expand-lg navbar-dark bg-dark justify-content-between {
  background-color: rgba(50, 50, 50, 0.3);
}

#left-pine-tree {
  margin-left: -16px;
  margin-right: -100%;
  margin-bottom: -23px;
  position: relative;
}

#right-pine-tree {
  float: right;
  margin-right: -16px;
  margin-bottom: -23px;
}

#iod img{
  padding: auto;
  height: inherit;
  width: 100%;
}

#google-button {
  box-shadow: 2, 2, black;
}
