<section class='api-text'>
  <h1>Astronauts Currently in Space: </h1>

  <% if @space_people_facade.data.empty? || @space_people_facade.data == nil%>
    <h3>There is no one in space at this time.</h3>
  <% else %>
    <ul class="people-crafts-in-space">
    <% @space_people_facade.data.each do |name_craft| %>
      <li id="name"> <%= name_craft[:name] %> is currently on <%= name_craft[:craft] %></li>
    <% end %>
  <% end %>
</section>
